@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.pexels.com/photos/2635038/pexels-photo-2635038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.start h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 20px auto;
    font-family: "Baskervville SC", serif;
}

h2 {
    font-size: 19px;
    margin-top: 5px;
    font-family: "Oswald", sans-serif;
    font-weight: 420;
}

.form {
    margin-right: 15px;
    padding: 20px;
    border-radius: 55px;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 75px auto;
}

.form:hover {
    transform: scale(1.02);
}

.area input[type="text"],
.switch-field select,
.switch-field1 select,
.lo select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

.submit1 button {
    padding: 10px 20px;
    margin-left: 175px;
    border: 1px solid #ccccccf5;
    border-radius: 30px;
    background-color: #007bfff3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.submit1 button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.result {
    border: 2px solid rgba(0, 0, 0, 0.336);
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: black;
    margin-left: 105px;
    margin-right: 105px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

#uiEstimatedPrice{
    text-align: center;
}